#myChart1{
  display: block;
  width: 270px;
  height: 200px;
  float: right;
  padding: 15px;
}

#myChart2{
  display: block;
  width: 250px;
  height: 200px;
  float: left;
  padding: 15px;
}

#myChart3{

  width: 400px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#myChart4{

  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 0;
  right: 0;
}

