<mat-card>


<form (submit)="onLogin(loginform)" #loginform="ngForm" >


<mat-form-field>
  <input matInput  rows="6" name="lastname" ngModel placeholder="username" #matinput1="ngModel" ngModel required>
  <mat-error *ngIf="matinput1.invalid">Please Enter a User Name</mat-error>
</mat-form-field>
<mat-form-field>
  <input matInput  rows="6" name="password" ngModel placeholder="Password" #matinput2="ngModel" ngModel type="password"  required>
  <mat-error *ngIf="matinput2.invalid">Please Enter a Password</mat-error>
</mat-form-field>
<mat-form-field>
  <input matInput  rows="6" name="email" ngModel placeholder="Email" type="email" #matinput3="ngModel" ngModel required>
  <mat-error *ngIf="matinput3.invalid">Please Enter a Email</mat-error>
</mat-form-field>

  <button mat-raised-button  type="submit" color="primary">Submit</button>

</form>
<!-- <button mat-raised-button (click)="clicko()">Fetch</button> -->
</mat-card>
